/*  
Description: iphone styles
*/

/* -------------------------------------------------------------- 
  
   * Personal Trainer Wall.
   
-------------------------------------------------------------- */
body {background-color:none;position:relative;font:12px Helvetica;-webkit-text-size-adjust:none;padding:0;margin:0;}
.wall #page {background-color:none;}
a img {border:0;}

#header, #footer, #wrapper, #page, #loginArea {width: auto;margin:0;}
#page {/*background-color:#ecede6;*/padding:5px;}

#production {width:302px;height:48px;float:left;clear:left;margin:12px 0 0 5px;padding:0;}
#production a {width:302px;height:48px;display:block;overflow:hidden;text-decoration:none;color:black;background:transparent url(/images/logo-iphone-2.png) scroll no-repeat left top;text-indent:-2000px;padding:0 !important;}

/*hide and resize top some search fields in the search bar*/

.extraLabel {display:none;}
#theTags {display:none;}
#theName {}
#theLocation {}

/* Auto Complete Search Box*/
.mainSearch {margin:0 0 0px;}
.mainSearchInner {display:block;padding:0;}
.mainSearch .column {display:block;float:left;margin-right:10px;}
.mainSearch .column {margin-right:5px;padding:0;}
.mainSearch .column {margin-right:5px;padding:0;}
.mainSearch .smartSearch {width:auto;}

 .mainSearch .column#theName {margin-right:0;}


.mainSearch .smartSearchGuide ul{margin:0;padding:0;}
 .smartSearch input{width:115px;margin:3px 0 0 0;font-size:23px;padding-left:28px;color:#f3f3f3;}
.smartSearch input#location{background:#CACAC4 url(/images/icon-map_magnify.png) no-repeat scroll 5px 50%;}
.smartSearch input#name{background:#CACAC4 url(/images/icon-user.png) no-repeat scroll 5px 50%;}
.smartSearch input#tag{background:#CACAC4 url(/images/icon-tag.png) no-repeat scroll 5px 50%;}
.smartSearch input#location:focus, .smartSearch input#name:focus, .smartSearch input#tag:focus{background-image:none;padding-left:3px;width:140px;color:#efefef;}

.smartSearch label{width:150px;margin:0;}
.smartSearch label{text-align:left;font-size:18px;color:#ff532d}

/*hide promo message*/
#promoMessage {display:none;}

/*hide auto complete fields*/ 
.smartSearchWrap {}

/*hide blog link*/
#sideLink {display:none;}

/*Reveal drop downs that are hidden on load - inline */
.options ul li.widget ul {display:block !important;}
/*other adjustments*/
.options ul {padding:0;margin:0;}
.options ul li{padding:0;margin:0;}
.options ul li.widget a.toggle {display:none;}
.options ul li.widget p {float:none;clear:both;margin:0;}

/*fix header to the top, not*/
.wall #headerContainer {position:static;top:0; left:0; z-index:1000;width:100%;}
#header {padding:5px;}
#pageWrapper {padding:0;}
.wall #pageWrapper {padding:0 0 50px;}

/*hide footer*/ 
#footerWrapper {display:none !important;}

/*logged in message*/
span.loggedIn {display:block;background-color:#CACAC4;border-color:#8E8E8E;border-style:solid;
border-width:2px 0 0 2px;float:none;height:auto;margin:3px 0 0 0;overflow:hidden;padding:3px 5px;}
span.loggedIn strong{margin-left:5px;}
/*Menu*/

ul#navAccount li span.loggedIn { display:block; color: black; text-align: right; padding: 5px 20px 0 0; }
ul#navAccount li span.loggedIn strong { margin: 0 0 0 10px; color: #666666; }

ul#navAccount {float:left;list-style-type:none;margin:0;padding:0 0 0 0;position:relative;z-index:100}
ul#navAccount li{display:inline;float:left;margin-right:5px;font-size:120%}
ul#navAccount li a{float:none;background-image:0;padding:0px 12px 5px 0;display:block;border:solid 1px transparent;text-decoration:none;}
.blog ul#navAccount li a {color:#ffffff;}
ul#navAccount li a:hover{text-decoration:none;}
ul#navAccount li a.dropdown {padding-right:18px;background:transparent url(/images/bullet_arrow_down.png) scroll no-repeat right 50%;}
ul#navAccount li a.dropdown.active {color: #3656AA;border:solid 1px #e3e3e3;border-bottom:solid 1px #f3f3f3;}
ul#navAccount li a.dropdown.active {background:#f3f3f3 url(/images/bullet_arrow_down.png) scroll no-repeat 90px 50%;}
ul#navAccount ul.dropdown-menu {display:none; position:absolute; z-index:1000; top:34px; left:auto;width: 170px;}
ul#navAccount ul.dropdown-menu {background-color:#f3f3f3; border:solid 1px #e3e3e3; margin: 0;padding:15px 10px 10px;}
ul#navAccount ul.dropdown-menu img {float:left;margin:0 10px 10px 0}
ul#navAccount ul.dropdown-menu hr.divider {border-style:dotted none;margin:0 0 10px;}
ul#navAccount ul li{float:none;}
ul#navAccount ul li a{padding:0;color: #3656AA;margin-bottom:7px;}
ul#navAccount ul li a:hover{}

/*fixes for IE7 and drop down hiding under 

*/

*:first-child+html #header { position: relative; z-index: 2 !important;}
*:first-child+html #wrapper {position: relative; z-index: 1 !important;}   

/*remove link outline in firefox*/

a {outline:none;}
a:active {outline:none;}

/*Icons for My Account Drop Down Menu*/

ul#navAccount ul.dropdown-menu li {display:block;}
ul#navAccount ul.dropdown-menu li a { display: block; text-decoration: none;line-height:20px; }
ul#navAccount ul.dropdown-menu li a:hover { text-decoration: none; color: #000000;background-color:White; }
ul#navAccount ul.dropdown-menu li a span { float: left; display: block; width: 16px; height: 16px; margin: 1px 8px 0 0; }
ul#navAccount ul.dropdown-menu li#edit a span { background: transparent url(/images/cog_edit.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#upload a span { background: transparent url(/images/icon-pictures.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#logout a span { background: transparent url(/images/disconnect.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#subscription a span { background: transparent url(/images/clock.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#subscriptionInfo a span { background: transparent url(/images/comments.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#edit.active a span, ul#navAccount ul.dropdown-menu li#edit a:hover span { background: transparent url(/images/cog_edit.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#logout.active a span, ul#navAccount ul.dropdown-menu li#logout a:hover span { background: transparent url(/images/disconnect.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#subscription.active a span, ul#navAccount ul.dropdown-menu li#subscription a:hover span { background: transparent url(/images/clock.png) scroll no-repeat 50% 50%; }
ul#navAccount ul.dropdown-menu li#subscriptionInfo.active a span, ul#navAccount ul.dropdown-menu li#subsciptionInfo a:hover span { background: transparent url(/images/comments.png) scroll no-repeat 50% 50%; }

/*forms*/
.options label {float:none !important;margin:0 !important;width:100%;clear:both;}
.options select {width:31%;margin:0 5px 0 0;}

/*twitter and facebook sign in buttons*/
#joinUp {float:none;clear:both;width:auto;margin:0 0 0 0;padding:0;}
a.btnTwitter {float:left;text-indent:-2000px;padding:0;margin:3px 5px 0 0;display:block;overflow:hidden;width:150px;height:22px;background:transparent url(/images/signin_twitter.png) scroll no-repeat 50% 50%}
a.btnTwitter:hover {background-position: 50% top}
a.btnTwitter:focus {background-position: 50% bottom}

a.btnFacebook {float:left;text-indent:-2000px;padding:0;margin:3px 0 0 0;display:block;overflow:hidden;width:150px;height:22px;background:transparent url(/images/signin_facebook.png) scroll no-repeat 50% 50%}
a.btnFacebook:hover {background-position: 50% top}
a.btnFacebook:focus {background-position: 50% bottom}
/*misc*/
.wrap {display:block;}

/*alert style for messages at the top*/
.generic_dialog {position:static;}
.alertTop{overflow: hidden;	width: 100%;padding:5px 0 ;text-align: center;position: static;top: 0;left: 0;background-color:#efefef;/*height: 0;*/color: #000;font-size: 90%;line-height:15px;opacity: .9;}

/*message style for messages at the bottom*/
#message {position:fixed;bottom:0px;left:0px;width:100%; z-index:105; text-align:center;font-weight:bold;font-size:100%;color:white;padding:10px 0px 10px 0px;background-color:#000000;filter:alpha(opacity=75); 
-moz-opacity: 0.75;opacity: 0.75;}
#message span {text-align: center; width: 95%;float:left;}
.close-notify {white-space: nowrap;float:right;margin-right:10px;color:#fff;
    text-decoration:none;border:2px #fff solid;padding:0 3px}
.close-notify a {color: #fff;}

/*record styles to work with iphone and screen */
.sponsor {float:none;width:100%;}


#recordWrap {}
#recordWrap ul {list-style-type:none;margin:0;padding:0;}
#recordWrap ul li{list-style-type:none;margin:0;padding:0;}
#recordWrap ul li.mobile{float:none;position:relative;display:block;border:solid 1px #cccccb;border-top-color:#FFFFFF;font-size:100%;}
#recordWrap ul li.mobile .imageWrapper {float:left;}
#recordWrap ul li.mobile a {display:block;padding:5px;background-color:#ecede6;text-decoration:none;color:#656565;}
#recordWrap ul li.mobile a:visited {background-color:#bbdaf8;}
#recordWrap ul li.mobile a:hover {background-color:#cccccc;}
#recordWrap ul li.mobile img {float:left;margin:0 8px 0 0;}
#recordWrap ul li.mobile h3{margin:0 5px 0 0;font-size:120%;}
#recordWrap ul li.mobile a h3{color:#212121;}
#recordWrap ul li.mobile p {margin:0;}
#recordWrap ul li.mobile span.state {text-transform:uppercase;font-weight:bold;}

/*upgrade icon - email*/
span.show_upgrade {position:absolute;top:5px;right:5px;width:32px;height:32px;float:left;display:block;/*margin:-65px 0 0 48px;*/}
span.show_upgrade {background: url(/images/mail.png) scroll no-repeat 50% 50%;}

 
/*Tipsy css and one needs deleting*/

.tipsy { padding: 5px; font-size: 12px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: left; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

/*added*/
.tipsy {z-index:1000;}
.tipsy-inner {width:120px;}
.tipsy-inner span {font-size:10px;color:#CCCCCC;} 
.tipsy {text-align:left;}
.nav .tipsy {text-align:center;} 
.tipsy img {float:left;margin:0 10px 5px 0;}
span.location {color:#ff5e34;}

/* Breadcrumbs */

.module:after {	clear: both;content: ".";display: block;height: 0;visibility: hidden;}
/* float clearing for IE6 */
* html .module {height: 1%;	overflow: visible;}
/* float clearing for IE7 */
* + html .module  {	min-height: 1%;}

.breadCrumb {margin: 0 0 5px 0;}
.breadCrumb ul{margin: 0;padding: 0;height: 21px;display: block;}
.breadCrumb ul li{}
.breadCrumb ul li div.chevronOverlay{position: absolute;right: 0;top: 0;z-index: 2;}
.breadCrumb ul li span{display: block;	overflow: hidden;}
.breadCrumb ul li a{display: block;position: relative;height: 21px;line-height: 21px;overflow: hidden;float: left;text-decoration:none;}
.breadCrumb ul li.first a{height: 16px !important;text-indent:-1000em;width:16px;padding: 0;margin-top: 2px;overflow: hidden;background:url(../images/IconHome.gif) no-repeat 0 0;}
.breadCrumb ul li.first a:hover{background-position: 0 -16px;}
.breadCrumb ul li.last{	background: none;margin-right: 0;padding-right: 0;}
.chevronOverlay{display: none;background: url(/images/ChevronOverlay.png) no-repeat 100% 0;	width: 13px;height: 20px;}

/* Trainers Page */

.profile {background-color:transparent;border:none;margin:0;padding:0;
}

/*legend headings*/

.profile fieldset {position:relative;border:0;}
.profile legend {padding:0;margin:0;}
.profile legend span{font-size:120%;position:absolute;top:-26px;right:20px;background-color:white;padding:1px 5px;border:1px solid #E3E3E3;border-bottom:0;}

.profileMain {display:block;float:none;width:auto;}

.profileMain img{padding:0;}
.profileMain h1{font-size:210%;font-weight:bold;color:#ffffff;margin:5px 0 10px 0;letter-spacing:0.05px;}

.pic {position:relative;width:270px;margin-bottom:10px;}

/*certs list*/

/*contacts*/
.boxRow p {margin:0;}
.profile div.boxes {width:auto;float:none;background-color:white;border:1px solid #E3E3E3;padding:10px;margin:0 0 10px 0;}
.profile div.boxes.certs {background-color:white;border:1px solid #E3E3E3 none;padding:10px;}
.profile div.boxes#contacts {margin:0 0 20px 0;}
.profile div.boxes.last {margin:10px 0 0;}

.tweetmeme_button {margin:0 0 0 10px;float:right;}

/*show more buttons*/
a.show {float:left;display:block;overflow:hidden;text-indent:-2000px;width:48px;height:48px;margin-right:20px;}
a.show.showMap {background: transparent url(/images/ptwall-icons-set-2.png) scroll no-repeat -282px 50%;}
a.show.showPics {background: transparent url(/images/ptwall-icons-set-2.png) scroll no-repeat -329px 50%;}
a.show.showLinks {background: transparent url(/images/ptwall-icons-set-2.png) scroll no-repeat -235px 50%;}
a.show.showTwitter {background: transparent url(/images/ptwall-icons-set-2.png) scroll no-repeat -469px 50%;}
a.show.showEmail {background: transparent url(/images/ptwall-icons-set-2.png) scroll no-repeat -375px 50%;}
a.show.showFacebook {background: transparent url(/images/ptwall-icons-set-2.png) scroll no-repeat -422px 50%;}

/*name over image caption*/
.captionWrap {position:absolute;bottom:0;left:0;width:100%;opacity:0.7;z-index:1;}
.caption {color: #ffffff;padding: .9em;font-weight:normal;font-size: 17px;cursor: default;border: 0px solid #334143;background: #000000;/*text-shadow: 1px 1px 0 #202020;*/ border-width: 8px 0px 0px 0px}
/* caption styling */
.caption-wrapper {float: left;/*margin:0 !important;*/ height:400px !important;}
.caption-top, .caption-bottom {	/*NEW*/height:100px;width:auto !important;color: #ffffff;padding: .9em;	font-weight:normal;font-size: 13px;cursor: default;border: 0px solid #334143;background: #000000;/*text-shadow: 1px 1px 0 #202020;*/}
.caption-top { border-width: 0px 0px 8px 0px;}
.caption-bottom {  border-width: 8px 0px 0px 0px;}
.caption a, .caption a {border: 0 none;	text-decoration: none;background: #000000;padding: 0.3em;}
.caption a:hover, .caption a:hover {background: #202020;}

/*twitter and facebook sign in buttons*/

a.btnTwitter {text-indent:-2000px;padding:0;margin-top:8px;display:block;overflow:hidden;width:150px;height:22px;background:transparent url(/images/signin_twitter.png) scroll no-repeat 50% 50%}
a.btnTwitter:hover {background-position: 50% top}
a.btnTwitter:focus {background-position: 50% bottom}

a.btnFacebook {text-indent:-2000px;padding:0;margin-top:8px;display:block;overflow:hidden;width:150px;height:22px;background:transparent url(/images/signin_facebook.png) scroll no-repeat 50% 50%}
a.btnFacebook:hover {background-position: 50% top}
a.btnFacebook:focus {background-position: 50% bottom}

/*bio*/
.bio {}
.bio p{}
.bio img {}


/*form alterations*/

fieldset.narrow {clear:both;width:auto;float:none;}
p.inputs {padding:0;width:auto;}
label.lbl_med {width:100%;margin:0;}
input.input_med {width:100%;}
select {width:100%;margin:0;}
select.slt_med {width:100%;margin:0;}
textarea {padding:1%;width:98%;}
p.message {font-size:90%;margin:0;}

.padd {padding:5px 10px;}
.padd.quick {background-color:#bbdaf8}

/*disable image overlay on hover*/
.sponsor .overlay{ display:none;}

/*Hide welcome message for iphone*/
#facebox {display:none!important;}
#facebox_overlay {display:none!important;}

#sitePromotion {display:none!important;}
#loginArea { padding: 0;}

.wall .content { background-color: transparent;border:none;display: block;margin: 10px 0;padding:0;}
.wall .content {-moz-box-shadow: 0 0 0 transparent;}
.content.corners {-moz-border-radius-bottomleft: 0;-moz-border-radius-bottomright: 0;}
.controls {margin:0 0 5px 0;}
span.moreInfo {display:none;}

#promo-button {display:none;}

.pad {padding:0;}

/*certs list*/

.profile .certs {background-color:transparent;border:0;padding:0;margin-left:0;}
.profile .pic {position:relative;width:auto;float:none;padding:10px 10px 10px;}

/*paging buttons*/

.prev_link a { left: 10px; top: 15px; }
.next_link a {right:10px;top: 15px;} 

/*New Twitter Link*/
.twitterLink {padding-left:0;margin-bottom:0;margin-top:5px;}

/*hide facebook widget*/

.socialNetworkingTools {display:none;}