<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$title}</title>

<link rel="stylesheet" type="text/css" 
        href="{$config.root_surl}/templates/css/amember.css" />
<link rel="stylesheet" type="text/css" 
        href="{$config.root_surl}/templates/css/site.css" />
<link rel="stylesheet" type="text/css" 
        href="http://www.personaltrainerwall.com/css/bootstrap.css" />	
<link rel="stylesheet" type="text/css" 
        href="http://www.personaltrainerwall.com/css/bootstrap-responsive.css" />		
<link rel="stylesheet" type="text/css" 
        href="http://www.personaltrainerwall.com/css/style.css" />
		
		
		
</head>
<body class="amember">
{if $config.lang.display_choice}{* Display Language choice if this option enabled *}
<div style='width: 100%; text-align: right;'> {php}echo display_lang_choice();{/php} </div>
{/if}

<div id="pageWrapper">
<div id="wrapper" class="container">
<div id="page" style="min-height:500px;">
<h1 clas="hero center">{$title}</h1><p class="marketing-byline center">Why not subscribe to Personal Trainer Wall </p>
<div class="alert-message info">
 <p><strong>Limited Special</strong> - 12 Month PT Upgrade now only $9.99</p>
 </div>


